html,
body {
  margin: 10px;
  height: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px 80px auto 40px;
  background-color: var(--background);
}

.header {
  color: var(--headline);
  grid-column: 1 / -1;
  background-color: var(--teritary);
  line-height: 40px;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bolder;
}

.side-panel {
  grid-column: 1 / 3;
  color: var(--paragraph);
  margin: 10px;
}

.content-action-menu {
  grid-column: 3/-1;
  /* border-bottom: 2px solid var(--field-grey); */
}

.content {
  grid-column: 3 / -1;
  overflow-x: auto;
}

.footer {
  color: var(--headline);
  grid-column: 1 / -1;
  background-color: var(--teritary);
}

.elements-display {
  column-count: 4;
  column-gap: 1rem;
}

/* FORM ELEMENT HTML SPACE */
.element-showcase {
  margin: 1rem;
  display: inline-flex;
  -webkit-column-break-inside: avoid;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

/* FORM ELEMENT HTML SPACE */

input[type="text"],
input[type="number"],
select {
  display: inline-block;
  font-family: menlo;
  height: 30px;
  line-height: 30px;
  color: var(--paragraph);
  background-color: var(--field-grey);
  border: none;
  font-size: 0.9rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  box-sizing: border-box;
  vertical-align: bottom;
  outline: 0;
  border-radius: 4px;
  width: 100%;
}
input:focus {
  outline: none;
}

fieldset > input[type="text"],
fieldset > select {
  margin-bottom: 8px;
}

label {
  /* padding-top: 8px; */
  display: inline-block;
  /* min-height: 34px;
  line-height: 34px; */
  font-size: 0.8rem;
  color: var(--field-label);
  font-weight: 600;
  padding-right: 0px;
  padding-left: 0px;
  vertical-align: top;
}

fieldset {
  display: block;
  padding: 10px;
  border: 2px solid var(--field-grey);
  border-radius: 4px;
  margin-bottom: 10px;
}

fieldset > h4 {
  margin-top: 0px;
}

table {
  border-collapse: collapse;
  color: var(--field-label);
  font-size: 0.8rem;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table td,
table th {
  vertical-align: top;
  border: 1px solid var(--table-border);
  /* line-height: 15px; */
  padding: 5px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--button);
  border: 1px solid var(--button);
  color: var(--button-text);
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  padding: 0.65rem 2rem;
  font-size: 0.8rem;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 1;
}

button:hover {
  filter: brightness(107%);
}

.landing-page-form {
  /* https://css-tricks.com/centering-css-complete-guide/ */
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .landing-page-form {
    /* https://css-tricks.com/centering-css-complete-guide/ */
    width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .landing-page-form {
    /* https://css-tricks.com/centering-css-complete-guide/ */
    width: 60%;
  }
}

.landing-page-form h1,
.landing-page-form h2,
.landing-page-form h3,
.landing-page-form h4,
.landing-page-form h5,
.landing-page-form h6 {
  text-align: center;
}

.custom-file-input {
  /* https://benmarshall.me/styling-file-inputs/ */
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.custom-file-input-label {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--button);
  border: 1px solid var(--button);
  color: var(--button-text);
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  padding: 0.65rem 0rem;
  font-size: 0.8rem;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  /* z-index: 1; */
  /* display: inline-block; */
  transition: background-color 0.3s;
}

.custom-file-input:focus,
.custom-file-input-label:hover {
  filter: brightness(107%);
}

progress {
  border-radius: 1px;
  width: 100%;
  height: 15px;
}
progress::-webkit-progress-bar {
  background-color: var(--field-grey);
}
progress::-webkit-progress-value {
  transition: width 2s ease-out;
  background-color: var(--field-label);
}
progress::-moz-progress-bar {
  background-color: var(--field-grey);
}

/* CUSTOM CHECKBOX STYLING */
/* The container */
.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  padding-top: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom: 9px;
  width: 80%;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--field-grey);
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: var(--field-grey);
}

/* When the checkbox is checked */
.custom-checkbox input:checked ~ .checkmark {
  background-color: var(--field-grey);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
  opacity: 1;
  transition: all 0.3s;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--paragraph);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.data-row-info {
  font-size: 0.8rem;
  color: var(--field-label);
}

.data-stat {
  font-size: 0.8rem;
  font-weight: bold;
}

.data-types {
  margin: 10px;
  width: calc(100% / 6);
}

/* CUSTOM RADIO BUTTON */
/* The container */
.custom-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 6px;
  margin-top: 6px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.custom-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radiomark {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--field-grey);
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.custom-radio input:checked ~ .radiomark {
  background-color: var(--field-grey);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio input:checked ~ .radiomark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio .radiomark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--paragraph);
}

.custom-radio label {
  line-height: 20px;
}

.secondary {
  background-color: var(--field-grey);
  border-color: var(--field-grey);
}
.secondary:hover {
  filter: brightness(93%);
}

/* CUSTOM TABLE HEADER */
.custom-field-header {
  margin: 0px;
  padding: 0px;
  background-color: var(--field-grey);
  white-space: nowrap;
}

.new-field {
  background-color: var(--secondary);
}

.field-name {
  padding: 5px;
  font-weight: 800;
}
.data-type {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.7rem;
  font-weight: 500;
}
.data-match {
  padding: 0px;
  font-size: 0.5rem;
}
progress {
  border-radius: 1px;
  width: 100%;
  height: 8px;
  font-size: 1rem;
}
progress::-webkit-progress-value {
  transition: width 2s ease-out;
  background-color: var(--field-label);
}
progress::-webkit-progress-bar {
  background-color: var(--button);
}
progress::-moz-progress-bar {
  background-color: var(--button);
}

/* FILTER BOX */
.filter-box {
  max-height: 50vh;
}

.filter-box-search {
  padding-bottom: 10px;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-color: var(--field-grey);
}

.filter-value-list {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 20vh;
  overflow-y: auto;
}

.filter-list-actions {
  border-top: 2px;
  border-top-style: solid;
  border-color: var(--field-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-list-actions button:first-child {
  margin-right: 4%;
}

.filter-list-actions button {
  width: 48%;
}

/* FIELD LIST STYLING */
.field-list-fieldset {
  /* width: 20vw; */
  max-height: 50vh;
}

.field-list {
  margin-top: 10px;
  height: 75vh;
  padding-bottom: 10px;
  max-height: 20vh;
  overflow-y: auto;
}

.field-list-fieldset h3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.action-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid var(--field-grey);
}

.action-button-container button:first-child {
  margin-right: 4%;
}

.action-button-container button {
  width: 48%;
}

/* ACTION BAR */
.action-bar-container {
  margin: 0px;
}

.action-bar {
  border-bottom: 2px solid var(--field-grey);
  height: 40px;
  margin-bottom: 5px;
}

.action-bar-section {
  display: inline-block;
  position: relative;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.action-bar-divider {
  display: inline-block;
  position: relative;
  height: 30px;
  border-left: 2px solid var(--field-grey);
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: bottom; /* important to have this or other elements around it will be displaced */
  margin-left: 8px;
  margin-right: 8px;
}

.action-bar-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--field-grey);
  border-color: var(--field-grey);
  color: var(--button-text);
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  padding: 0.65rem 0.65rem;
  font-size: 0.8rem;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 1;
}

.action-bar-button:hover {
  filter: brightness(93%);
}

/* UNDO BUTTON */
.action-bar-button:hover > img {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transition: 0.3s;
}

.action-bar-button > .backward {
  transition: 0.3s;
  font-size: 1rem;
}
.action-bar-button:hover > .backward {
  transform: translateX(-3px);
  -webkit-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
}

.action-bar-button > .forward {
  transition: 0.3s;
  font-size: 1rem;
}
.action-bar-button:hover > .forward {
  transform: translateX(3px);
  -webkit-transform: translateX(3px);
  -ms-transform: translateX(3px);
}
/* ACTION BAR */
