html,
body {
  background-color: var(--teritary);
}

/* CARD */
/* https://codepen.io/ambiva/pen/bGNWwyg  */
.card-container {
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.center {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.card {
  display: inline-block;
  background-color: var(--button);
  padding: 1rem;
  transition: 0.3s;
  min-width: 200px;
  max-width: 200px;
  min-height: 300px;
  max-height: 300px;
  margin: 1rem;
  border-radius: 5px;
}

.card > h1 {
  color: var(--paragraph);
  font-size: 2rem;
  border-bottom: 0.3rem;
  border-bottom-style: solid;
  border-color: var(--paragraph);
  padding-bottom: 5px;
}

h1 > a:link,
h1 > a:visited {
  text-decoration: none;
  color: var(--paragraph);
}

.card:hover {
  transform: scale(1.1);
}
